@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media inline {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-barlow: var(--font-barlow);
    --font-display: var(--font-bellefair);
    --font-condensed: var(--font-barlow-condensed);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow);
}

.belle {
  font-family: var(--font-bellefair);
}

.condensed {
  font-family: var(--font-barlow-condensed);
}
